
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 158, 158);
}


.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin:2rem;
    position: relative;
    border-radius: 2rem;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-webname {
    font-size: 24px;
    font-weight: bold;
}


.navbar-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}

.navbar-button:hover {
    background-color: #0056b3;
}

.container{
    position: relative;
    width: 1200px;
    padding: 0 20px;
    display: flex;
    border-radius: 25px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.container .card{
    flex: 1;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}

.card .from{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card .heading{
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    white-space: nowrap;
}

.dropdown-container .dropdown-toggle{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 30px;
    background: #d3d3d3;
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown-container .dropdown-toggle span{
    flex: 1;
    margin-left: 10px;
}

.dropdown-container .dropdown-toggle img{
    width: 20px;
}

.dropdown-container.active .dropdown-toggle{
    border-radius: 20px 20px 0 0;
}

.dropdown-container .dropdown-menu{
    
}



@media (max-width: 310px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-left {
        margin-bottom: 10px;
    }

    .navbar-button {
        align-self: flex;
    }
}

@media(max-width: 390px){
    .navbar-webname{
        font-size: 18px;
    }

    .navbar-logo img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .navbar-button {
        padding: 8px 15px;
    }
}
