
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-image: url(img/B_G.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
}

.navbar {
    width: 100%;
    max-width: 1200px;
    background-color:transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-webname {
    font-size: 24px;
    font-weight: bold;
}


.navbar-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}

.navbar-button:hover {
    background-color: #0056b3;
}

.container{
    position: relative;
    width: 1200px;
    padding: 0 20px;
    display: flex;
    border-radius: 25px;
    gap: 10px;
}

.container .card{
    flex: 1;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    
}



.card .from,
.card .to{
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .card .from {
    margin-right: 20px;
}

.container .card .to {
    margin-left: 20px;
}

.container .card .heading{
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    white-space: nowrap;
}

.dropdown-container {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
  }

.dropdown-container .dropdown-toggle{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 30px;
    background: #dadada;
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown-container .dropdown-toggle img{
    margin-left: 10px;
    
}

.dropdown-container .dropdown-toggle span{
    flex: 1;
    margin-left: 10px;
}

.dropdown-container .dropdown-toggle img{
    width: 20px;
}

.dropdown-container.active .dropdown-toggle{
    border-radius: 20px 20px 0 0;
}

.dropdown-container .dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 300px;
    overflow: auto;
    display: none;
    padding: 20px;
    z-index: 1;
    list-style: none;
    flex-direction: column;
    background-color: #dadada;
    transition: all 1s;
    border-radius: 0 0 20px 20px;
}

.dropdown-container .dropdown-menu::-webkit-scrollbar{
    display: none;
}

.dropdown-container.active .dropdown-menu{
    display: flex;
}

.dropdown-container.active .dropdown-menu li{
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
    transition: all 0.3s ease;
}

.dropdown-container .dropdown-menu li:hover {
    background-color: #206eff;
  }

.dropdown-container.active .dropdown-menu li.active{
    color: rgb(0, 0, 0);
    background-color: #206eff;
}

.dropdown-container.active .dropdown-menu li::not(.active):hover{
    background-color: black;
}

.container .text-area{
    position: relative;
    
}

.container textarea{
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
} 


.container .text-area .chars{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 0.87rem;
    color: black;
}

.card-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    border-top: 2px solid #dadada;
}

.card-bottom p{
    margin-top: 20px;
    font-weight: 700;
}

.card-bottom label{
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #dadada;
}

.card-bottom img{
    width: 20px;
}
.card-bottom label:hover{
    color: #000000;
    background-color: #206eff;
}

.card-bottom span{
    font-size: 12px;
    pointer-events: none;
}

.card-bottom button{
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #dadada;
    outline: none;
    border: none;
}

.card-bottom button:hover{
    color: #000000;
    background-color: #206eff;
}

.container .center{
    position: relative;
}

.swap-possition img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid #dadada;
    transition: all 0.3s;
    color: #7a7a7a;
    background-color: #007bff;
}

.swap-possition img:hover{
    transform: translateX(-50%) scale(1.1);
}

.copy img{
    width: 15px;
    position: absolute;
    bottom: 10px;
    right: 0;
    cursor: pointer;
    
}



.text-area img{
    width: 15px;
    position:relative;
    bottom: 10px;
    cursor: pointer;
}

.clear-button {
    position: absolute;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    left: 20px;
}

.clear-button img {
    width: 20px; 
    bottom: 10px;
}

@media (max-width :800px) {
    .container{
        width: 100%;
        margin-top: 100px;
        flex-direction: column;
    }

    .container .card{
        width: 100%;
    }

    .container .card .from{
        margin-right: 0;
    }

    .container .card .to{
        margin-left: 0;
    }

    .container  .card .from,
    .container .card .to{
        flex-direction: column;
    }

    .swap-possition img{
        top: -22px;
        left: 45%;
        transform: translate(-50% , -50%);
    }

    .swap-possition img:hover{
        transform: translate(-50%, -50% )scale(1.1);
    }

    .swap-possition img{
        transform: rotate(90deg);
    }
}

@media (max-width: 310px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-left {
        margin-bottom: 10px;
    }

    .navbar-button {
        align-self: flex;
    }
}

@media(max-width: 390px){
    .navbar-webname{
        font-size: 18px;
    }

    .navbar-logo img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .navbar-button {
        padding: 8px 15px;
    }
}


